.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
}

.product-img {
  height: 180px;
  background-color: #f2f2f2;
  border-radius: 6px;
  margin-bottom: 12px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
