.products-section {
  padding: 60px 40px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.products-section {
  scroll-margin-top: 90px; /* navbar height + spacing */
}


/* Responsive */
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
