.navbar {
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffd700;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: 500;
}

.nav-links li {
  cursor: pointer;
}
